/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
    --bg-color: #000028;
    --accent-color: #ff0070;
    --title-color: #ff0070;
    --text-color: #f1b2ce;
    --title-decor-color: #000028;
    --title-decor-bg: #ff0070;
    --header-title-color: #db00ff;
    --button-color: #ff0070;
    --button-hover-color: rgba(255, 0, 112, 0.4);
    --link-shadow-color: #ff0070;
    --bg-image: url("../images/cover-image-dark.png");
}

.theme-dark .header__rec {
    display: block;
}

.theme-dark .page {
    --bg-image: url("../images/cover-image-dark.png");
}
