:root {
    --bg-color: #000028;
    --accent-color: #ff0070;
    --title-color: #353430;
    --text-color: #f1b2ce;
    --title-decor-color: #000028;
    --title-decor-bg: #ff0070;
    --header-title-color: #db00ff;
    --button-color: #ff0070;
    --button-hover-color: rgba(255, 0, 112, 0.4);
    --link-shadow-color: #ff0070;
    --bg-image: url(../images/cover-image-dark.png);
    --font-family: "IBM Plex mono", monospace;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --mobile-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --desktop-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}
